div#input-gui {
    height: 100%;
    float: left;
    width: 50%; 
    align-content: center;
    text-align: center;
}
  
div#output-gui {
    height: 100%;
    text-align: center;
    border-left: 2px solid silver;
    float: right;
    width: 50%;
    align-content: center;
}  

div#upload.tabcontent{
    height: 280px;
}

div#draw.tabcontent{
    height: 280px;
}

 
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: black;
    display: none;
    padding: 50px;
    text-align: center;
}

.drawingCanvas {
    width: 400px;
    height: 200px;
    border:1px solid black;
    color: white;
}
