div#input-gui {
    height: 50%;
    float: left;
    width: 60%; 
    align-content: center;
    text-align: center;
}
  
div#output-gui {
    height: 50%;
    text-align: center;
    border-left: 2px solid silver;
    float: right;
    width: 40%;
    align-content: center;
}  

div#upload.tabcontent{
    height: 200px;
    color: black;
}
div#draw.tabcontent{
    height: 200px;
    color: black;
}


/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

#draw-btn.tablink{
    background-color: #777777;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    text-align: center;
}

/* Style each tab content individually */ 
#draw {background-color:#F8F9FA;}
#upload {background-color:#F8F9FA;}

#imageView { border: 1px solid #000; }

